.speakers {
    margin: 10rem auto;
    width: 80%;

    display: flex;
    flex-direction: column;
}

.speakers__title {
    margin-right: 10%;
    margin-left: 10%;
    font-family: Gilroy, sans-serif;
    color: #ffffff;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
}

.speakers__paragraph {
    margin-top: -50px;
    min-width: 0px;
    margin-right: 10%;
    margin-left: 10%;
    font-family: Gilroy, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}

.speakers__image-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    flex-wrap: wrap;
}

.speaker__block {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 10rem;
}

.speaker__image {
    border-radius: 50%;
}

.speakers__name {
    margin-top: 10px;
    min-width: 5px;
    margin-bottom: 0px;
    font-family: Gilroy, sans-serif;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: none;
}

.paragraph-4 {
    text-align: center;
    color: #ffffff;
}