.header {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.header__icon {
    display: flex;
    align-items: center;
    margin-top: -3rem;
}

.header__logo--1 {
    margin-right: 1rem;
    display: block;
}

.header__logo--text {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}

.header__logo--2 {
    height: 10rem;
}
