.get-weather {
    background-color: skyblue;
    width: 50%;
    padding: 1rem;
    height: min-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
}

.get-weather__time {
    display: flex;
    grid-gap: .5rem;
}

.get-weather__time--text {
    font-size: 2rem;
    color: #333;
}

.three-days {
    font-size: 1.5rem;
    font-weight: 500;
    border: 1px solid #79B252;
    margin-top: 1rem;
    padding: .5rem 1rem;

    text-align: center;

    cursor: pointer;
}

.display-three-days {
    margin-top: .5rem;
    width: 50%;
    font-size: 1rem;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.empty-data {
    margin-top: .5rem;
}

.day-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    font-size: 1.3rem;
}