.sponsors {
    margin: 10rem auto;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.sponsors__title {
    margin-right: 10%;
    margin-left: 10%;
    font-family: Gilroy, sans-serif;
    color: #ffffff;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
}

.sponsors__block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.sponsors__margin-right {
    margin-right: 1.3rem;
}

.margin-right--2 {
    margin-right: 1rem;
}

.sponsors__block--text-link {
    margin-left: .5rem;
}

.text-block-7-copy {
    max-width: 800px;
    min-width: 0px;
    margin-right: 10%;
    margin-left: 10%;
    font-family: Gilroy, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}